include ./bazel-bin/bark_ml/pip_package.runfiles/bark_ml/bark_ml/core.so bark_ml/core.so

include ./bazel-bin/bark_ml/pip_package.runfiles/bark_ml/bark_ml/environments/* bark_ml/environments/*
include ./bazel-bin/bark_ml/pip_package.runfiles/bark_ml/bark_ml/environments/merging/* bark_ml/environments/merging/*
include ./bazel-bin/bark_ml/pip_package.runfiles/bark_ml/bark_ml/environments/highway/* bark_ml/environments/highway/*
include ./bazel-bin/bark_ml/pip_package.runfiles/bark_ml/bark_ml/environments/intersection/* bark_ml/environments/intersection/*
include ./bazel-bin/bark_ml/pip_package.runfiles/bark_ml/bark_ml/environments/configurable/* bark_ml/environments/configurable/*