aabbtree>=2.5.0
absl-py>==0.9.0
lxml>=4.5.1
matplotlib>=3.2.2
numpy>=1.18.5
six>=1.15.0
twine>==3.1.1
panda3d>=1.10.6.post2
pandas>=1.0.5
gym>=0.17.2
pygame>=1.9.6
tensorflow>=2.3.0
tensorboard>=2.2.2
tf-agents>=0.6.0
tensorflow-probability==0.11.0
tf2_gnn>=2.4.0
spektral>=0.6.0
notebook 
torch>=1.5.0