matplotlib
numpy
lxml
scipy
websocket
websocket-client
websockets
tornado
pygame
tqdm
sphinx
recommonmark
sphinx_rtd_theme
gym
tf-agents-nightly
tfp-nightly
tensorflow==2.0.0-rc0
panda3d
gast==0.2.2
sphinx-bazel