matplotlib
numpy
lxml
scipy
websocket
websocket-client
websockets
tornado
pygame
tqdm
sphinx
recommonmark
sphinx_rtd_theme
gym
tf-agents-nightly
# should be compatible
tensorflow==2.0.0-rc0
tensorflow-probability
panda3d